<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngFor="let question of questions" class="form-group">
        <!-- Aqui, você pode adicionar a lógica de renderização específica para cada tipo de pergunta -->
        <label [for]="question.key">{{question.label}}</label>
        <input *ngIf="question.controlType === 'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">
        <select *ngIf="question.controlType === 'dropdown'" [formControlName]="question.key" [id]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-group">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>
  